/**
 * Colunas Desktop IE
 */
#wrapper {
  padding: 0 18px;
  width: 1164px;
}

#colunas12 {
  width: 1136px;
}

#wrapper-colunas9 {
  width: 873px;
}

#colunas9 {
  width: 845px;
}

#wrapper-colunas8 {
  width: 776px;
}

#colunas8 {
  width: 748px;
}

#colunas6 {
  width: 554px;
}

#colunas4 {
  width: 360px;
}

#colunas3 {
  width: 263px;
}

.news-i {
  width: 236px;
}

#dispositivos {
  background-position: center top;
}

#gallery, #slide-images {
  height: 432px !important;
}

.product-image-zoom a {
  width: 554px !important;
  height: 554px !important;
}
.product-image-zoom a img {
  width: 554px !important;
  height: 554px !important;
}
.product-image-zoom .mousetrap {
  width: 554px !important;
  height: 554px !important;
}

.fb iframe {
  width: 263px !important;
}

.cart-success1 {
  height: 50px;
}

.cart-success2 {
  height: 115px;
}

.cart-empty1 {
  height: 40px;
}

.cart-empty2 {
  height: 105px;
}
