/**
 * Colunas Tablet Portrait
 */
@media only screen and (min-width: 768px) {
  #wrapper {
    padding: 0 6px;
    width: 756px !important;
  }

  #colunas12, #wrapper-colunas9, #colunas9, #wrapper-colunas8, #colunas8, #colunas6, #colunas4, #colunas3 {
    margin: 0 10px 20px;
  }

  #colunas12 {
    width: 736px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  #wrapper-colunas9 {
    margin: 0 0 0px !important;
    width: 567px;
  }

  #colunas9 {
    width: 547px;
  }

  #wrapper-colunas8 {
    margin: 0 0 0px !important;
    width: 504px;
  }

  #colunas8 {
    width: 484px;
  }

  #colunas6 {
    width: 358px;
  }

  #colunas4 {
    width: 232px;
  }

  #colunas3 {
    width: 169px;
  }

  .footer-h {
    font-size: 11px;
  }

  .news-i {
    width: 496px;
  }

  #dispositivos {
    background-position: center -30px;
    float: right;
    margin: 5px 28px 0 0;
  }

  #mucci {
    display: inline;
    float: right;
    margin-bottom: 0;
    margin-top: 18px;
  }

  #gallery, #slide-images {
    height: 269px !important;
  }

  .product-image-zoom a {
    width: 358px !important;
    height: 358px !important;
  }
  .product-image-zoom a img {
    width: 358px !important;
    height: 358px !important;
  }
  .product-image-zoom .mousetrap {
    width: 358px !important;
    height: 358px !important;
  }

  .form-search > .search {
    width: 270px;
  }

  .cart-success1 {
    height: 95px;
  }

  .cart-success2 {
    height: 160px;
  }

  .cart-empty1 {
    height: 55px;
  }

  .cart-empty2 {
    height: 120px;
  }

  #menu li {
    display: inline-table;
    float: left;
  }
  #menu li a span {
    padding: 5px 10px;
  }

  .logotipo {
    float: left;
  }
  .logotipo a {
    margin: 50px auto 40px;
    height: 124px;
  }

  .n-atend2 {
    width: 38%;
    margin-top: 70px;
  }
  .n-atend2 p {
    margin-left: 18px;
  }

  .box-related {
    width: 558px;
  }

  .mob {
    display: block !important;
  }

  .desktop-hidden {
    display: none !important;
  }

  #nav-top li:hover .box-hover2 {
    display: block;
  }

  .news-box {
    background: transparent url(../../images/i-news.png) left center no-repeat;
    max-width: 630px;
    padding-left: 80px;
  }

  #menu {
    display: none !important;
    width: auto;
  }
  #menu li:hover ul {
    display: block;
  }
  #menu li:first-child a span {
    border: none;
  }

  .banner_left {
    display: block;
  }

  #menu > li > a {
    padding: 15px 0;
    margin: 0;
    border-bottom: none;
  }
  #menu li a {
    border: none !important;
  }

  #clickmenu, .log-mob1, .liclickmenu, .srh-mob {
    display: none !important;
  }

  #shopping-cart-table td.a-center, #shopping-cart-table td.a-right {
    display: table-cell !important;
  }
  #shopping-cart-table tfoot {
    display: table-footer-group !important;
  }
  #shopping-cart-table thead {
    display: table-header-group !important;
  }

  .logotipo-nutri a {
    margin: 12px 0 0 40px;
    width: 90px;
    background: url(../../images/logotipo-nutri-2x.png) left center no-repeat;
    background-size: 233px 27px;
    position: relative;
  }

  #nav-top .no-p a {
    padding: 20px 20px 18px 5px;
  }

  .box-hover {
    margin: 18px 0 0 -68px;
    background: transparent url(../../images/pup-arrow.png) 85px top no-repeat;
  }

  #nav-top #cart {
    width: 30px;
    background-color: transparent;
  }

  .page-nutrii .box-nutrii1 {
    margin: 30px 0 15px 0;
  }
  .page-nutrii .box-nutrii2 {
    margin: 30px 0 15px 15px;
  }
  .page-nutrii .form-list li .input-box .op-i, .page-nutrii .form-list li .input-box .op-t {
    width: 100%;
  }
  .page-nutrii .box-nutrii-cont1 {
    margin: 30px 0 25px 0;
  }
  .page-nutrii .box-nutrii-cont2 {
    margin: 30px 0 25px 15px;
  }

  #topo-mobile {
    display: none !important;
  }

  /**
   * Novos Banners
   */
  .banner-dieta-enteral a {
    background-image: url(../../images/trabalhamoscomdieta-desktop.jpg);
  }

  .banner-frete-gratis a {
    background-image: url(../../images/novanutrii-bannersite-fretegratis-desktop.png);
  }

  .banner-impact .text-image {
    background-image: url(../../images/txt-bannerimpact-desktop.png);
  }
}
